/* ------Backgound Img------ */
.header-container
{
    position: relative;
    margin-inline: 1.5rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    height: 97.5vh;
    background-image: url("/content/img/course_05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-overlay
{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* ------Title------ */
.title-container
{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    max-width: 80rem;
    margin: 8% 20rem;
}
.title-container h1
{
    font-size: 8rem;
    color: var(--mainWhite);
}
.title-container p
{
    max-width: 65rem;
    font-size: 2rem;
    color: var(--mainWhite);
}


@media only screen and (max-width: 1200px) 
{
    .title-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        gap: 2rem;
        max-width: 40rem;
        margin: 20% 10rem -15%;
    }
    .title-container h1
    {
        font-size: 4rem;
        color: var(--mainWhite);
    }
    .title-container p
    {
        max-width: 65rem;
        font-size: 2rem;
        color: var(--mainWhite);
    }
}

@media only screen and (max-width: 500px) 
{
    .title-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        gap: 2rem;
        max-width: 30rem;
        margin: 20% 5rem -5%;
    }
    .title-container h1
    {
        font-size: 4rem;
        color: var(--mainWhite);
    }
    .title-container p
    {
        max-width: 65rem;
        font-size: 2rem;
        color: var(--mainWhite);
    }
}

/* ------ Courses Layout------ */
.current-courses-container 
{
    margin: 15rem 2rem;
}

.grid-container
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}
.grid-container::before
{
    top: -8rem;
    content: "Current courses";
    position: absolute;
    left: 0;

    font-size: 4rem;
    font-weight: bold;
}

.course-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 40rem;
    height: auto;
    padding: 1rem;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 48px 100px 0px  rgba(17, 12, 46, 0.15);
}
.course-container img
{
    position: relative;
    max-width: 100%;
    height: auto;
}

.course-img-overlay
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.4)
}

.popular p
{
    z-index: 1;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);
    padding: 1.5rem 3rem;

    background-color: rgb(238, 212, 67);
    color: white;
    font-size: 2rem;
    font-size: bold;
}
.course-select-overlay
{
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background-color: rgba(16, 16, 17, 0.808);
}
.course-select-overlay button
{
    font-size: 24px;
    font-weight: normal;
    background: none;
    color: white;
    border: 3px solid white;
    outline: none;
    padding: 2rem 4rem;
}
.course-select-overlay button:hover
{
    font-size: 24px;
    font-weight: normal;
    background: none;
    background-color: white;
    color: var(--mainDark);
    border: 3px solid white;
    outline: none;
    padding: 2rem 4rem;
}

.hideOverlay
{
    display: none;
}

.course-select-price 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.course-select-price h5
{
    font-size: 18px;
    color: rgb(226, 227, 228);
}
.course-select-price #price
{
    font-size: 28px;
    color: white;
    margin: 0;
}

.course-title
{
    position: absolute;
    top: 6rem;

    color: white;
    font-size: 2rem;
}
.course-title::after
{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 4rem;
    height: 2px;
    background-color: white;
}

.course-details-container
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
    bottom: 0;

    background-color: rgba(18, 18, 19, 0.397);
    backdrop-filter: blur(8px);
    margin: 2.5rem;
    padding: 2rem;
}

.course-description
{
    color: rgb(154, 154, 155);
    font-size: 12px;
}

.course-length-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course-length-container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -3rem;
    bottom: 0;
    width: 2px;
    background-color: rgb(88, 88, 90);
}
.course-length-container h2
{
    color:  rgb(248, 248, 250);
    font-size: 26px;
}
.course-length-container h5
{
    color: rgb(154, 154, 155);
    font-size: 14px;
}

@media only screen and (max-width: 1200px) 
{
    .grid-container
    {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
}

@media only screen and (max-width: 800px) 
{
    .grid-container
    {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}

@media only screen and (max-width: 500px) 
{
    .current-courses-container 
    {
        margin: 15rem 0rem;
    }

    .course-title
    {
        position: absolute;
        top: 5rem;

        color: white;
        font-size: 2rem;
    }

    .course-details-container
    {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 3rem;
        bottom: 0;
    
        background-color: rgba(18, 18, 19, 0.397);
        backdrop-filter: blur(4px);
        margin: 2.5rem;
        padding: 2rem;
    }

    .course-length-container
    {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .course-length-container::before
    {
        display: none;
    }    
    .course-length-container::after
    {
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 0;
        
        width: 2rem;
        height: 2px;
        background-color: rgb(88, 88, 90);
    }
}