/* ------Link Stages------*/
.link-active::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--link-color);
}

/* ------Header topnavigation------ */
.topnav-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 20rem;
    border-bottom: solid 2px rgba(0, 0, 0, .15);
}

.hide-main-menu
{
    display: flex;
}

.hide-mobile-menu
{
    display:none;
}

.hide-overlay
{
    display: none;
}

.topnav-logo
{
    flex: 1;
    font-size: 30px;
    color: var(--mainWhite);
}

.topnav-links
{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10rem;
}
.topnav-links a:not(button a)
{
    --link-color: #f5f6f6;
    position: relative;
    font-size: 2.5rem;
    color: var(--link-color);
    text-decoration: none;
}

.topnav-links #cartItemCount
{
    z-index: 2;
    top: 0%;
    left: 100%;
    transform: translate(0%, -50%);
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: rgb(247, 247, 248);
}

.topnav-menu-openButton
{
    background: none;
    color: var(--mainWhite);
    border: none;
    font-size: 3rem;
    outline: none !important;
    cursor: pointer;
}

.topnav-overlay
{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    transition: 2s ease-in-out;
}

.top-container
{
    display: flex;
    flex-direction: row;
    padding: 5rem 7rem;
    border-bottom: 1px solid #2c323a;
}

.topnav-menu-closeButton
{
    background: none;
    color: var(--mainWhite);
    border: none;
    font-size: 3rem;
    outline: none !important;
    cursor: pointer;
}


@media only screen and (max-width: 1400px) 
{
    .topnav-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap; /* Not sure what it does??*/
        padding: 3rem 5rem;
        border-bottom: solid 2px rgba(0, 0, 0, .15);
    }
    
    .topnav-links
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: space-between; /* Not sure what it does??*/
        margin-top: 10rem;
        gap: 4rem;
    }

    .hide-main-menu
    {
        display: none;
    }
    .hide-mobile-menu
    {
        display:flex;
    }
}

/* ------Footer------ */
.container-footer
{
    position: relative;
    flex-wrap: wrap; /* Not sure what it does??*/
    padding: 5rem 0;
    margin: 0 2rem;
}
.container-footer::before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgb(196, 198, 199);
}

.logo-container-footer
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.links-container-footer
{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}
.links-container-footer a
{
    position: relative;
    --link-color: rgb(60, 61, 65);;
    font-size: 2.5rem;
    color: var(--link-color);
    text-decoration: none;
}


@media only screen and (max-width: 1400px) 
{
    .container-footer
    {
        flex-wrap: wrap; /* Not sure what it does??*/
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .links-container-footer
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}